# Exercise 1: Factorial

In [1]:
def prod(a,b):
    output = a * b
    return output

def fact_gen():
    i = 1
    n = i
    while True:
        output = prod(n, i)
        yield output
        i += 1
        n = output
        # TODO: update i and n
        # Hint: i is a successive integer and n is the previous product


# Test block
my_gen = fact_gen()
num = 5
for i in range(num):
    print(next(my_gen))

# Correct result when num = 5:
# 1
# 2
# 6
# 24
# 120

1
2
6
24
120

# Exercise 2: Sudoku

In [1]:
correct = [[1,2,3],
           [2,3,1],
           [3,1,2]]

incorrect = [[1,2,3,4],
             [2,3,1,3],
             [3,1,2,3],
             [4,4,4,4]]

incorrect2 = [[1,2,3,4],
             [2,3,1,4],
             [4,1,2,3],
             [3,4,1,2]]

incorrect3 = [[1,2,3,4,5],
              [2,3,1,5,6],
              [4,5,2,1,3],
              [3,4,5,2,1],
              [5,6,4,3,2]]

incorrect4 = [['a','b','c'],
              ['b','c','a'],
              ['c','a','b']]

incorrect5 = [ [1, 1.5],
               [1.5, 1]]
               
# Define a function check_sudoku() here:

def check_sudoku(sudoku):
    size = len(sudoku)
    correct_values = list(range(1, size + 1))
    for i in range(size):
        row = sorted(sudoku[i])
        col = sorted([_row[i] for _row in sudoku])
        result = row == correct_values and col == correct_values
        if result is False:
            return False
    return True


    
    
print(check_sudoku(incorrect))
#>>> False

print(check_sudoku(correct))
#>>> True

print(check_sudoku(incorrect2))
#>>> False

print(check_sudoku(incorrect3))
#>>> False

print(check_sudoku(incorrect4))
#>>> False

print(check_sudoku(incorrect5))
#>>> False

False
True
False
False
False
False

In [4]:
class Person:
    def __init__(self, name, age, month):
        self.name = name
        self.age = age
        self.birthday_month = month
        
    def birthday(self):
        self.age += 1
        return self.age

def create_person_objects(names, ages, months):
    my_data = zip(names, ages, months)
    person_objects = []
    for item in my_data:
        person_objects.append(Person(*item))
    return person_objects

def get_april_birthdays(people):
    # TODO:
    # Increment "age" for all people with birthdays in April.
    # Return a dictionary "april_birthdays" with the names of
    # all people with April birthdays as keys, and their updated ages 
    # as values. See the test below for an example expected output.
    april_birthdays = {person.name: person.birthday() for person in people
                       if person.birthday_month == "April"}

    
    # TODO: Modify the return statement 
    return april_birthdays

def get_most_common_month(people):
    # TODO:
    # Use the "months" dictionary to record counts of birthday months
    # for persons in the "people" data.
    # Return the month with the largest number of birthdays.
    months = {'January':0, 'February':0, 'March':0, 'April':0, 'May':0, 
              'June':0, 'July':0, 'August':0, 'September':0, 'October':0,
              'November':0, 'December':0}
    for person in people:
        months[person.birthday_month] += 1
    
    # TODO: Modify the return statement.
    return max(months, key=months.get)


def test():
    # Here is the data for the test. Assume there is a single most common month.
    names = ['Howard', 'Richard', 'Jules', 'Trula', 'Michael', 'Elizabeth', 'Richard', 'Shirley', 'Mark', 'Brianna', 'Kenneth', 'Gwen', 'William', 'Rosa', 'Denver', 'Shelly', 'Sammy', 'Maryann', 'Kathleen', 'Andrew', 'Joseph', 'Kathleen', 'Lisa', 'Viola', 'George', 'Bonnie', 'Robert', 'William', 'Sabrina', 'John', 'Robert', 'Gil', 'Calvin', 'Robert', 'Dusty', 'Dario', 'Joeann', 'Terry', 'Alan', 'Rosa', 'Jeane', 'James', 'Rachel', 'Tu', 'Chelsea', 'Andrea', 'Ernest', 'Erica', 'Priscilla', 'Carol', 'Michael', 'Dale', 'Arthur', 'Helen', 'James', 'Donna', 'Patricia', 'Betty', 'Patricia', 'Mollie', 'Nicole', 'Ernest', 'Wendy', 'Graciela', 'Teresa', 'Nicole', 'Trang', 'Caleb', 'Robert', 'Paul', 'Nieves', 'Arleen', 'Milton', 'James', 'Lawrence', 'Edward', 'Susan', 'Patricia', 'Tana', 'Jessica', 'Suzanne', 'Darren', 'Arthur', 'Holly', 'Mary', 'Randal', 'John', 'Laura', 'Betty', 'Chelsea', 'Margaret', 'Angel', 'Jeffrey', 'Mary', 'Donald', 'David', 'Roger', 'Evan', 'Danny', 'William']
    ages  = [17, 58, 79, 8, 10, 57, 4, 98, 19, 47, 81, 68, 48, 13, 39, 21, 98, 51, 49, 12, 24, 78, 36, 59, 3, 87, 94, 85, 43, 69, 15, 52, 57, 36, 52, 5, 52, 5, 33, 10, 71, 28, 70, 9, 25, 28, 76, 71, 22, 35, 35, 100, 9, 95, 69, 52, 66, 91, 39, 84, 65, 29, 20, 98, 30, 83, 30, 15, 88, 89, 24, 98, 62, 94, 86, 63, 34, 23, 23, 19, 10, 80, 88, 67, 17, 91, 85, 97, 29, 7, 34, 38, 92, 29, 14, 52, 94, 62, 70, 22]
    months = ['January', 'March', 'January', 'October', 'April', 'February', 'August', 'January', 'June', 'August', 'February', 'May', 'March', 'June', 'February', 'August', 'June', 'March', 'August', 'April', 'April', 'June', 'April', 'June', 'February', 'September', 'March', 'July', 'September', 'December', 'June', 'June', 'August', 'November', 'April', 'November', 'August', 'June', 'January', 'August', 'May', 'March', 'March', 'March', 'May', 'September', 'August', 'April', 'February', 'April', 'May', 'March', 'March', 'January', 'August', 'October', 'February', 'November', 'August', 'June', 'September', 'September', 'January', 'September', 'July', 'July', 'December', 'June', 'April', 'February', 'August', 'September', 'August', 'February', 'April', 'July', 'May', 'November', 'December', 'February', 'August', 'August', 'September', 'December', 'February', 'March', 'June', 'December', 'February', 'May', 'April', 'July', 'March', 'June', 'December', 'March', 'July', 'May', 'September', 'November']
    people = create_person_objects(names, ages, months)

    # Calls to the two functions you have completed.
    print(get_april_birthdays(people))
    print(get_most_common_month(people))
    # Expected result:
    # {'Michael': 11, 'Erica': 72, 'Carol': 36, 'Lisa': 37, 'Lawrence': 87, 'Joseph': 25, 'Margaret': 35, 'Andrew': 13, 'Dusty': 53, 'Robert': 89}
    # August


def test2():
    names = ['Suzanne', 'Dorothy', 'Edna', 'Olive', 'Barbara', 'Agnes', 'Anthony', 'Mildred', 'Stephen', 'Daniel', 'James', 'David', 'Anna', 'Frank', 'Darlene', 'Chris', 'Micheal', 'James', 'Joseph', 'George', 'Barry', 'Clarice', 'Maranda', 'Jessica', 'Nicole', 'Grace', 'Randy', 'Jennifer', 'Richard', 'William', 'Dennis', 'Peggy', 'James', 'Sarah', 'Nellie', 'Dominique', 'Stewart', 'Wendy', 'Caroline', 'Barbara', 'Carey', 'Tammy', 'Charles', 'Brian', 'Amber', 'Paula', 'Troy', 'Laura', 'Dewey', 'Joe', 'Kim', 'Rosalinda', 'Martin', 'Juan', 'Larry', 'Cherryl', 'Heather', 'Betty', 'Carol', 'Robert', 'Bruce', 'Carla', 'Delphia', 'Bernice', 'Sylvia', 'Gavin', 'John', 'Mildred', 'Jamie', 'Javier', 'Carolyn', 'Armando', 'Joseph', 'Marjorie', 'Ruth', 'Roy', 'Randy', 'Ana', 'Jerald', 'Wendy', 'Margaret', 'Barbara', 'Donald', 'Lawrence', 'Hope', 'Mason', 'Jonathan', 'John', 'Evelyn', 'Catherine', 'Anthony', 'Rita', 'Alan', 'Reginald', 'Christopher', 'Bernice', 'Trinidad', 'Marna', 'Jasmine', 'Dwight']
    ages = [13, 98, 12, 68, 40, 87, 38, 95, 67, 11, 65, 66, 43, 12, 22, 80, 87, 52, 48, 31, 8, 100, 54, 81, 84, 80, 80, 48, 54, 84, 75, 98, 64, 10, 94, 83, 50, 52, 83, 85, 66, 13, 56, 14, 39, 23, 78, 41, 62, 29, 25, 43, 70, 87, 86, 69, 82, 61, 28, 44, 26, 70, 43, 67, 93, 81, 37, 66, 46, 86, 97, 31, 85, 65, 3, 34, 54, 97, 54, 92, 96, 71, 73, 63, 4, 68, 61, 56, 38, 34, 9, 57, 84, 92, 29, 5, 73, 70, 18, 87]
    months = ['December', 'January', 'November', 'October', 'March', 'December', 'June', 'March', 'December', 'January', 'November', 'June', 'January', 'December', 'June', 'November', 'November', 'August', 'December', 'May', 'July', 'June', 'June', 'September', 'June', 'July', 'December', 'May', 'August', 'June', 'December', 'August', 'September', 'October', 'August', 'June', 'June', 'March', 'September', 'October', 'July', 'December', 'May', 'October', 'June', 'April', 'March', 'March', 'July', 'October', 'December', 'October', 'June', 'March', 'November', 'April', 'July', 'September', 'September', 'May', 'August', 'March', 'March', 'April', 'December', 'November', 'March', 'October', 'October', 'June', 'June', 'April', 'August', 'March', 'March', 'November', 'January', 'June', 'October', 'May', 'August', 'January', 'September', 'January', 'February', 'October', 'January', 'March', 'April', 'March', 'April', 'April', 'June', 'January', 'November', 'April', 'August', 'July', 'November', 'November']

    people = create_person_objects(names, ages, months)

    # Calls to the two functions you have completed.
    print(get_april_birthdays(people))
    print(get_most_common_month(people))
    # The expected results are: 
    # {'Armando': 32, 'Anthony': 10, 'Rita': 58, 'Evelyn': 39, 'Cherryl': 70, 'Bernice': 6, 'Paula': 24}
    # June

test()
test2()

{'Michael': 11, 'Andrew': 13, 'Joseph': 25, 'Lisa': 37, 'Dusty': 53, 'Erica': 72, 'Carol': 36, 'Robert': 89, 'Lawrence': 87, 'Margaret': 35}
August
{'Paula': 24, 'Cherryl': 70, 'Bernice': 6, 'Armando': 32, 'Evelyn': 39, 'Anthony': 10, 'Rita': 58}
June